/*HOVER*/
.hover-lift:hover{
    transform:translateY(-4px);
}
.hover-scale:hover{
    transform:scale(1.02);
}
/*ANIMACIONES*/

.fade-in{
    animation:fadeIn var(--animation-fast) ease;
}
.fade-up{
    animation:fadeUp var(--animation-normal) ease;
}
.float{
    animation:float var(--animation-slow) ease-in-out infinite;
}

/*animacion de favoritos*/
.wishlist-message{

    position:absolute;

    top:-24px;

    left:50%;

    transform:translateX(-50%);

    font-size:1rem;

    color:var(--color-primary);

    opacity:0;

    pointer-events:none;

}

.wishlist-message i{

    display:block;

}
.wishlist-message.show{

    animation:wishlistMessage .8s ease forwards;

}
@keyframes wishlistMessage{

    0%{

        opacity:0;

        transform:translate(-50%,10px);

    }

    25%{

        opacity:1;

        transform:translate(-50%,0);

    }

    100%{

        opacity:0;

        transform:translate(-50%,-18px);

    }

}
/*KEYFRAMES*/

@keyframes fadeIn{

    from{
        opacity:0;
    }

    to{
        opacity:1;
    }

}

@keyframes fadeUp{

    from{
        opacity:0;
        transform:translateY(24px);
    }

    to{
        opacity:1;
        transform:translateY(0);
    }

}

@keyframes float{

    0%,
    100%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-6px);
    }

}