
/*==================================
    PRODUCT CARD
==================================*/
.product-card{
    display:flex;
    flex-direction:column;
    height:100%;
    background:#fff;
    border-radius:22px;
    overflow:hidden;
    border:1px solid #ececec;
    transition:all .35s ease;
    box-shadow:0 10px 25px rgba(0,0,0,.06);
}
.products-grid{
display:grid;
grid-template-columns:
repeat(auto-fill,minmax(240px,1fr));
gap:25px;
}
.product-card:hover{
    transform:translateY(-6px);
    box-shadow:0 20px 45px rgba(0,0,0,.12);
}
.product-image{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    height:250px;
    background:#fafafa;
    overflow:hidden;
}
.product-image img{
    width:75%;
    height:75%;
    object-fit:cover;
    transition:.45s;
}
.product-card:hover .product-image img{
    transform:scale(1.06);
}
.product-card .card-body{
    display:flex;
    flex-direction:column;
    padding:22px;
}
.product-category{
    color:var(--secondary);
    font-weight:600;
}
.product-title{
    font-size:1.1rem;
    line-height:1.35;
}
.product-brand{
    color:#888;
    font-size:.82rem;
    margin-bottom:10px;
}
.product-price{
    font-size:1.35rem;
}
.product-price-old{
    color:#999;
    text-decoration:line-through;
    font-size:.95rem;
}
.btn-add-cart{
    width:100%;
    margin-top:18px;
    border-radius:10px;
    font-weight:600;
}
.product-wishlist{
    position:absolute;
    top:12px;
    right:12px;
    width:38px;
    height:38px;
    border-radius:50%;
    background:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow:0 5px 15px rgba(0,0,0,.12);
    transition:.3s;
}
.product-wishlist:hover{
    background:var(--primary);
    color:#fff;
}
.product-badge{
    position:absolute;
    left:12px;
    top:12px;
    border-radius:30px;
    padding:6px 12px;
    font-size:.72rem;
    font-weight:600;
    box-shadow:0 5px 15px rgba(0,0,0,.08);

}
@media(max-width:992px){
    .product-image{
        height:210px;
    }
}

@media(max-width:576px){

    .product-image{

        height:180px;

    }

    .product-title{

        font-size:.95rem;

        min-height:auto;

    }

}